{% if pagination.pages is not empty %}
    <div class="sl_pagination">
        <ul class="sl_pagination__list">
            {% if pagination.prev %}
                <li>
                    <a class="sl_button sl_button--pagination" href="{{ pagination.prev.link }}">Previous</a>
                </li>
            {% endif %}
            {% for page in pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="sl_button sl_button--pagination {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="sl_current">
                        <a class="sl_button sl_button--pagination {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li>
                    <a class="sl_button sl_button--pagination" href="{{ pagination.next.link }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
