{% block content %}

	{% if option.address %}
		{# LOOP THROUGH ADDRESSES #}
		{% for sidebar in option.sidebar %}
			<div class="sl_sidebar__card">
			{% if sidebar.item.title %}<h3>{{sidebar.item.title}}</h3>{% endif %}
			{% if sidebar.item.content %}{{sidebar.item.content}}{% endif %}
			</div>{# /.sl_sidebar__card #}
 		{% endfor %}
	{% endif %} 

{% endblock %}