{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header" style="background-image: url({{ post.thumbnail.src() }}">
	</div>	
{% endif %}

{# Breadcrumbs #}
<div class="sl_inner show-for-medium">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<h1>{{post.title}}</h1>

			<p class="sl_content__date">{{post.date|date("M d, yy")}}</p>

			<div class="sl_row">
				<div class="sl_cell xlarge-9 large-8 sl_content__main">

					<main id="main" class="sl_main">
						{{post.content}}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell xlarge-3 large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				<div class="sl_cell hide-for-large sl_content__sidebar">
					<div class="sl_sidebar">
						<div class="sl_sidebar__container">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end sl_sidebar__container -->
					</div><!-- end sl_sidebar -->
				</div>{#  /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}