{# Mobile Contact Duo Button #}
<div id="sl_contact-mobile" class="sl_contact-mobile hide-for-medium">
	<div class="sl_row">
	    <div class="sl_cell small-6 xsmall-6 sl_cta--verify">
	    	<a href="/insurance/#vob-holder">Verify Insurance</a>
	    </div>{# /.sl_cta--verify #}
	    <div class="sl_cell small-6 xsmall-6 sl_cta--phone ">
	        <a class="sl_phone" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a>
	    </div>{# /.sl_cta--phone #}
	</div>{# /.sl_row #}
</div>