{% extends "base.twig" %}

{% block content %}

{# Breadcrumbs #}
<div class="sl_inner show-for-medium">
	{{ function('get_breadcrumb') }}
</div>

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_inner">

			<h1>News</h1>

			<div class="sl_row">
				<div class="sl_cell xlarge-9 large-8 sl_content__main">

					<main id="main" class="sl_main">
						{% for article in news %}
						<a href="{{article.link}}" class="sl_card sl_card--article">            
						    {# Card Content #}
						    <div class="sl_card__content">
						    	<p class="sl_card__date">{{card.date|date("M d, yy")}}</p>
						        <h3 class="sl_card__title">{{ article.title|truncate(15) }}</h3>
						        <p class="sl_card__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
						    </div>{# /.sl_card__content #}

						    {# Card Image #}
						    <div class="sl_card__image" style="background-image: url({{article.thumbnail.src()}})"></div>
						</a>{# /.sl_card.sl_articles__card #}
					{% endfor %}

					{% include 'partials/pagination.twig' with { pagination: news.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}

					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				<div class="sl_cell xlarge-3 large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				<div class="sl_cell hide-for-large sl_content__sidebar">
					<div class="sl_sidebar">
						<div class="sl_sidebar__container">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end sl_sidebar__container -->
					</div><!-- end sl_sidebar -->
				</div>{#  /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}