{% extends "module.twig" %}

{% block card %}
    {% if module.header %}
        <h2>{{module.header}}</h2>
    {% endif %}

    {% if module.description %}
        {{module.description|wpautop}}
    {% endif %}

    <div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">
        {% for card in Post(module.article) %}
            <div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">
                <div class="sl_card sl_card--news">

                    {# CARD IMAGE #}
                    <div class="sl_card__image" style="background-image: url({{card.thumbnail.src()}})"></div>
                    
                    {# CARD CONTENT #}
                    <div class="sl_card__content">
                        <h3>{{ card.title|truncate(12) }}</h3>

                        <p class="sl_card__date">{{card.date|date("M d, yy")}}</p>

                        <p>{{ card.preview.length(20).end(' ...').read_more(false).force }}</p>

                        <a class="sl_button sl_button--simple" href="/{{card.slug}}/">Read Article</a>
                    </div>{# /.sl_card__content #}

                </div>{# /.sl_card #}
            </div>{# /.sl_cell #}
        {% endfor %}
     </div>{# /.sl_row #}

    {% if module.buttons %}
        <div class="sl_news__button">
		    {% include "card-button.twig" with { card : module } %}
        </div>
	{% endif %}

{% endblock %}