{% extends "module.twig" %}

{% block card %}
{% if option.address %}

	{# LOOP THROUGH ADDRESSES #}
	{% for address in option.address %}

	{# ONLY FIRST LOCATION #}
	{% if loop.first %}
 	<div class="sl_row">
		
		{# LOCATION CONTENT #}
		<div class="sl_location__content sl_cell large-4 medium-6">
			<div class="sl_location__card sl_card sl_card--location">
				
				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					<h2>{{ module.card.header }}</h2>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}
			</div>{# /.sl_location__card #}
		</div>{# /.sl_location__content #}

		{# LOCATION MAP #}
 		<div class="sl_location__map sl_cell large-8 medium-6">
 			{# GOOGLE MAP #}
                {% include 'card-google-map.twig' with { map : address.address } %}
 		</div>{# /.sl_location__map #}
 	</div>{# /.sl_row #}
 	{% endif %}
 	
 	{% endfor %}

{% endif %} 
{% endblock %}