{% extends "module.twig" %}

{% block card %}
	<div class="sl_card">
		{# Header #}
		<p class="sl_billboard__header">{{ module.billboard.header }}</p>
		{% if module.billboard.subheader %}<p class="sl_billboard__subheader">{{ module.billboard.subheader }}</p>{% endif %}

		{# Button #}
		{% if module.billboard.buttons %}
	    	{% include "card-button.twig" with { card : module.billboard } %}
		{% endif %}	
	</div>

{% endblock %}