.sl_alert {
	background-color: get-color(primary);
	padding: rem-calc(11px) 0;

	@include breakpoint (small down) {
		padding: $spacing--xs 0;
	}//end small down breakpoint

	& * {
		color: get-color(inverse);
	}//end & *

	h3 {
		font-size: 1.25rem;
		font-family: $header-font-family;

		@include breakpoint (large only) {
			font-size: 1.125rem;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			font-size: 1rem;
		}//end medium down breakpoint

		@include breakpoint (small only) {
			font-size: rem-calc(12px);
		}//end small only breakpoint

		@include breakpoint (xsmall only) {
			font-size: rem-calc(10px);
		}//end xsmall only breakpoint

		.sl_button--alert {
			margin-left: $spacing--md;

			@include breakpoint (large only) {
				margin-left: $spacing--xs;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				margin-left: $spacing--xs;
				font-size: 1rem !important;
			}//end small down breakpoint

			@include breakpoint (small down) {
				display: block;
				margin-top: $spacing--xs/2;
			}//end small down breakpoint
		}//end .sl_button--alert
	}//end h3

	&--contact {
		padding: $spacing--lg 0;
	}//end &--contact

	& > .sl_inner {
		text-align: center;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end & > .sl_inner
}//end .sl_alert