.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: get-color(accent2);
	min-height: 560px;
	display: flex;
	align-items: flex-end;
	position: relative;

	&:after {
		@include pseudo;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(90deg, rgba(get-color(inverse), .4) 0%, rgba(get-color(inverse), 0) 100%);

		@include breakpoint (large down) {
			background-image: linear-gradient(90deg, rgba(get-color(inverse), .6) 0%, rgba(get-color(inverse), 0) 100%);
		}//end large down breakpoint

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end &:after

	@include breakpoint (small down) {
		min-height: 375px;
	}//end small down breakpoint

	p {
		font-family: $header-font-family;
		font-weight: $font-weight--semibold;
		color: get-color(default);
	}//end p

	&__header {
		font-size: 4.5rem;
		line-height: 1.1;
		margin-bottom: $spacing--xs;

		@include breakpoint (small down) {
			font-size: 2.25rem;
			text-align: center;
			margin-bottom: $spacing--xs/2;
		}//end small down breakpoint
	}//end &__header

	&__subheader {
		font-size: 2.5rem;
		line-height: 1.2;
		margin-bottom: $spacing--md;

		@include breakpoint (small down) {
			font-size: 1.25rem;
			text-align: center;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end &__subheader

	.sl_card {
		padding: 0;
		padding-bottom: $spacing--lg;

		@include breakpoint (small down) {
			text-align: center;
			padding-bottom: $spacing--md;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child;
	}//end .sl_card
	
}//end .sl_module--billboard