.sl_duo {
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		@include breakpoint (small down) {
			position: relative;
			min-height: 200px;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			width: 100%;

			.sl_button {
				width: 100%;
				-ms-flex-negative: 1;
			}//end .sl_button
		}//end .sl_button-group

		h2 {
			font-family: $body-font-family;
			font-size: rem-calc(13px);
			font-weight: $font-weight--bold;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: get-color(default);
			padding-bottom: rem-calc(12px);
			margin-top: 0;
			margin-bottom: $spacing--sm;
			position: relative;
			line-height: 1;

			&:after {
				content: '';
				position: absolute;
				height: 2px;
				width: 50px;
				bottom: 0;
				left: 0;
				background-color: rgba(#3C475A, .5);
			}//end &:after
		}//end h2

		p {
			font-size: 1.625rem;
			font-family: $header-font-family;
			color: get-color(default);
			line-height: 1.4;

			@include breakpoint (medium down) {
				font-size: rem-calc(22px);
			}//end medium down breakpoint

			&:last-of-type {
				margin-bottom: $spacing--xxl;

				@include breakpoint (medium down) {
					margin-bottom: $spacing--md;
				}//end medium down breakpoint
			}//end &:last-of-typ

		}//end p

		.sl_card {
			display: flex;
			flex-direction: column;
		}//end .sl_card

		.sl_button {
			font-size: rem-calc(14px);
			color: get-color(accent1);
			text-transform: uppercase;
			background: none;
			border-radius: 0;
			padding: 0;
			align-self: flex-end;

			&:after {
				@include fontawesome($content: '\f30b', $weight: 400);
				display: inline-block;
				margin-left: $spacing--xs/2;
			}//end &:after

			&:hover {
				color: get-color(secondary);
				text-decoration: underline;
			}//end &:hover
		}//end .sl_button
	}//end &__content

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content

		@include breakpoint (medium down) {
			.sl_duo__media {
				order: 1;
			}//end .sl_duo__media

			.sl_duo__content {
				order: 2;
			}//end .sl_duo__content
		}//end medium down breakpoint
	}//end &--right
}//.sl_duo