.sl_location {
	& > .sl_inner {
		max-width: none;
		padding: 0 !important;
		& > .sl_row {
			background-color: get-color(accent2);

			@include breakpoint (small down) {
				background-color: get-color(inverse);
			}//end small down breakpoint
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	&__content {
		max-width: 1350px * .3333;
		margin-left: auto;
		@include innerpadding;
		padding-right: 0 !important;
	}//end &__content
	
}//end .sl_location