.sl_news {
    & > .sl_inner {
        @include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);

        & > .sl_row {
            & > .sl_cell {
                padding: 0 $spacing--md/2;

                @include breakpoint (medium only) {
                    padding: 0 $spacing--xs/2;
                }//end medium only breakpoint

                @include breakpoint (small down) {
                    padding: 0;

                    &:not(:last-of-type) {
                        margin-bottom: $spacing--sm;
                    }//end &:not(:last-of-type)
                }//end small down breakpoint
            }//end & > .sl_cell
        }//end & > .sl_row

        & > h2 {
            text-align: center;
        }//end & > h2
    }//end & > .sl_inner

    &__button {
        margin-top: $spacing--md;
        text-align: center;

        & > :last-child {
            margin-bottom: 0;
        }//end & > :last-child
    }//end &__button

}//end .sl_news



