<div class="sl_module__map">
    <div class="marker" data-lat="{{map.google_map.lat}}" data-lng="{{map.google_map.lng}}">
        <div class="sl_card sl_card--map">
            <h3>{{ bloginfo('name') }}</h3>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{map.street_address}}</span><br>
                <span itemprop="addressLocality">{{map.city}}, {{map.state}}</span> 
                <span itemprop="postalCode">{{map.zip_code}}</span><br>
            </p>
            <a class="sl_button sl_button--simple" href="https://www.google.com/maps/dir/?api=1&destination={{map.google_map.lat}},{{map.google_map.lng}}" target="_blank" rel="noreferrer">Directions</a>
        </div>
    </div>
</div>
