
{# Online #}
<button id="liveagent_button_online_573g0000000Cb2M" class="button" onclick="liveagent.startChat('573g0000000Cb2M')">Start Chat (online)</button>


{# Offline #}
<button id="liveagent_button_offline_573g0000000Cb2M" class="button disabled" style="cursor: not-allowed;">Start Chat (offline)</button>
    	