.sl_callout {
	@extend .callout;
	margin-bottom: $spacing--sm;
	border: none;
	overflow: auto;
	clear: both;
	background-color: get-color(accent3);
	border-radius: $border-radius;
	padding: $spacing--sm;

	&--large {
		background: none;
		padding: 0;
		p {
			font-size: 1.625rem;
			font-family: $header-font-family;
			line-height: 1.5;
			color: get-color(default);

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end p
	}//end &--nobox

	&--primary {
		background-color: get-color(primary);

		& * {
			color: get-color(inverse);
		}//end & *
	}//end &--primary

	&--secondary {
		background-color: get-color(secondary);

		& * {
			color: get-color(inverse);
		}//end & *
	}//end &--secondary

	&--disclaimer {
		padding: 0;
		p {
			font-size: .875rem;
			line-height: 1.3rem;
			color: get-color(default);
		}//end p
	}//end &--disclaimer

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--assessment {
	}//end &--assessment
}//end .sl_callout
