$site-palette: (
  primary:    #162E51,
  secondary:  #3D3D3D,
  default:    #333333,
  inverse:    #FFFFFF,
  accent1:    #345D96,
  accent2:    #F5F5F5,
  accent3:    #E5E5E5,
  accent4:    #EDF5FF,
);