//1. Articles Archive Page
//2. Category Archive Page
//3. News Archive Page
//-------------------------

//1. ARTICLES ARCHIVE PAGE 
body.blog {
	.sl_content {

	}//end .sl_content
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	.sl_content {
		&__body {
			.sl_inner {

			}//end .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {

			.sl_main {
				& > h2 {

				}//end & > h2
				& > .sl_row {
					& > .sl_cell {

					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_main

			.sl_pagination {
			}//end .sl_pagination
		}//end &__main

		&__loop {

		}//end &__loop
	}//end .sl_content
}//end body.category

//3. NEWS ARCHIVE PAGE 
body.post-type-archive-sl_news_cpts {
	.sl_content {
		border-top: 1px solid rgba(#45454E, .35);

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
				padding-bottom: $spacing--lg;
			}//end medium down breakpoint

			.sl_card--article {
				&:not(:last-of-type) {
					margin-bottom: $spacing--lg;
				}
			}
		}//end &__main
	}//end .sl_content
}//end body.post-type-archive-sl_news_cpts
//END CATEGORY ARCHIVE PAGE