.sl_breadcrumbs {
	margin-top: $spacing--xs;

	li {
		margin-bottom: 0 !important;
		line-height: 1;
		color: get-color(accent1);
		font-size: rem-calc(14px);
		font-weight: $font-weight--semibold;
		&:not(:last-child) {
			&:after {
				@include fontawesome($content:'\f054', $weight: 400);
				color: get-color(accent1);
				font-size: rem-calc(10px);
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
		}//end small down breakpoint

		a {
			color: get-color(accent1);
		}//end a
	}//end li

	&__current {
	}//end &__current

}//end .sl_breadcrumbs

body.home .sl_breadcrumbs {
	display: none;
}//end body.home .sl_breadcrumbs