/* ------------------
1. Menu
2. Info

--------------------- */

.sl_footer {

	//1. Menu
	&__menu {
		background-color: get-color(secondary);
		padding: $spacing--xxl 0;

		@include breakpoint (large only) {
			padding: $spacing--xl 0;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding: $spacing--md 0;
		}//end medium down breakpoint
		

		.sl_menu {
			justify-content: flex-end;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				flex-direction: column;
			}//end small down breakpoint

			& * {
				color: get-color(default);
			}//end & > *

			ul {
				list-style: none;
				margin: 0;
			}//end ul

			& > li {
				font-weight: $font-weight--semibold;
				flex: 0 0 auto;
				font-size: rem-calc(14px);
				position: relative;

				&:not(:last-of-type) {
					padding-right: $spacing--xs;
					margin-right: $spacing--xs;

					@include breakpoint (small down) {
						padding-right: 0;
						margin-right: 0;
						margin-bottom: $spacing--sm;
					}//end small down breakpoint

					&:after {
						content: '/';
						position: absolute;
						right: 0;
						top: 0;
						color: get-color(inverse);
						line-height: 1;

						@include breakpoint (small down) {
							display: none;
						}//end small down breakpoint
					}//end &:after
				}//end &:not(:last-of-type)

				& > a {
					color: get-color(inverse);
					text-transform: uppercase;
					letter-spacing: 1px;
				}//end & > a

				.sl_submenu {
					padding-top: $spacing--xs;
					& > li {
						font-weight: $font-weight--regular;
						margin-bottom: $spacing--xs/2;
						font-size: rem-calc(15px);

						a {
							line-height: 1.25;
						}//end a
					}//end & > li
				}//end .sl_submenu
			}//end & > li

			a {
				padding: 0;

				&:hover {
					text-decoration: underline;
				}//end &:hover
			}//end a
		}//end .sl_menu

		h3 {
			color: get-color(inverse);
			font-weight: $font-weight--bold;
			font-family: $body-font-family;
			font-size: 1.25rem;
		}//end h3
	}//end &__menu

	&__socials {
		& > .sl_row {
			justify-content: flex-end;

			@include breakpoint (small down) {
				justify-content: flex-start;
			}//end small down breakpoint
			
			& > .sl_cell:first-of-type {
				flex: 0 1 auto;
				width: auto;

				h3 {
					margin-bottom: 0;

					@include breakpoint (medium only) {
						margin-bottom: $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
					}//end small down breakpoint
				}//end h3
			}//end & > .sl_cell:first-of-type

			& > .sl_cell.bbb {
				flex: 1 1 auto;
				width: auto;
				margin-left: 1.25rem;

				@include breakpoint (medium down) {
					margin: 0;
				}//end medium down breakpoint
			}//end & > .sl_cell:last-of-type
		}//end & > .sl_row

		.sl_socials {

			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/2;
				display: flex;
				align-items: center;
			
				&.bbb {
					@include breakpoint (small down) {
						width: 100%;
						display: flex;
						justify-content: center;
						margin-top: $spacing--sm;
					}//end small down breakpoint
				}//end &.bbb
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials

	&__address {
		padding-left: $spacing--md;
		position: relative;

		@include breakpoint (small down) {
			padding-left: 0;
		}//end small down breakpoint

		p {
			font-size: 1.25rem;
			font-weight: $font-weight--semibold;
		}//end p
		a {
			color: get-color(inverse);
			&:hover {
				text-decoration: underline;
			}//end &:hover
		}//end a

		&:before {
			@include fontawesome('\f3c5');
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.25rem;
			color: get-color(inverse);

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint
		}//end &:before;
	}//end &__address

	&__phone {
		padding-left: $spacing--md;
		position: relative;

		@include breakpoint (small down) {
			padding-left: 0;
		}//end small down breakpoint
		a {
			color: get-color(inverse);
			font-size: 1.25rem;
			font-weight: $font-weight--semibold;

			&:hover {
				text-decoration: underline;
			}//end &:hover
		}//end a

		&:before {
			@include fontawesome('\f879');
			position: absolute;
			top: 0;
			left: 0;
			font-size: 1.25rem;
			color: get-color(inverse);

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint
		}//end &:before;
	}//end &__phone

	&__contact {
		@include breakpoint (medium down) {
			margin-bottom: $spacing--md;
		}//end medium down breakpoint
	}//end &__contact

	//2. Info
	&__info {
		background-color: get-color(default);
		padding: $spacing--xl 0;

		@include breakpoint (medium only) {
			padding: $spacing--md 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm 0;
		}//end small down breakpoint

		p {
			font-size: rem-calc(12px);
			line-height: 1.25rem;
			margin-bottom: $spacing--xs;
		}//end p

		& * {
			color: get-color(inverse);
			font-weight: $font-weight--semibold;
		}//end & *

		.sl_menu {
			align-items: center;
			margin-bottom: $spacing--xs;

			& * {
				color: get-color(inverse);
			}//end & *

			& > li {
				font-weight: $font-weight--regular;
				font-size: rem-calc(12px);
				position: relative;

				&:not(:last-of-type) {
					padding-right: $spacing--xs;
					margin-right: $spacing--xs;

					@include breakpoint (small down) {
						padding-right: $spacing--xs/2;
						margin-right: $spacing--xs/2;
					}//end small down breakpoint

					&:after {
						content: '|';
						position: absolute;
						right: 0;
						top: 0;
					}//end &:after
				}//end &:not(:last-of-type)
			}//end & > li

			a {
				padding: 0;
				line-height: 1.5;

				&:hover {
					text-decoration: underline;
				}//end &:hover
			}//end a
		}//end .sl_menu

	}//end &__info

}//end .sl_footer