.sl_header {
	position: relative;
	z-index: 999;
	max-width: none;
	
	// USER NAVIGATION //
	.sl_usernav {
		background-color: get-color(accent2);
		height: 52px;
		display: flex;

		& >  .sl_inner {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}//end & > .sl_inner

		&__left {
			flex: 1 1 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
		}//end &__left

		&__phone {
			color: get-color(default);
			font-size: 1.125rem;
			font-weight: $font-weight--bold;
			padding: 0 $spacing--sm;

			a {
				color: get-color(default);
			}//end a
		}//end &__phone

		&__right {
			flex: 0 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}//end &__right

		&__translate {
			height: 52px;
			display: flex;
			& > a {
				background-color: get-color(accent3);
				color: rgba(get-color(default), .8);
				font-size: rem-calc(14px);
				font-weight: $font-weight--bold;
				text-transform: uppercase;
				padding: $spacing--xs $spacing--sm;
				@include transition (all .3s ease-in-out);

				&:hover {
					background-color: darken(get-color(accent3),10%);
					color: get-color(default);
					@include transition (all .3s ease-in-out);
				}
			}//end & > a
		}//end &__translate


		&__menu {
			padding-right: $spacing--sm;
			& > .sl_menu {
				background-color: transparent;
				position: static;			

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(inverse);
						@include transition (.2s all ease-in-out);
						font-size: rem-calc(14px);
						font-weight: $font-weight--bold;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(inverse);
							text-decoration: underline;
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu


		}//end &__menu

		&__search {
			padding-right: $spacing--xs;
			border-right: 1px solid get-color(accent3);
			@include transition(.3s all ease-in-out);

			.sl_form {
				//Input
				&__input {
					width: 70px;
					height: 40px;
					padding-left: 0;
					padding-right: $spacing--sm;
					box-shadow: none;
					border: none;
					color: get-color(default);
					background: transparent;
					font-size: rem-calc(14px);
					@include transition(.3s all ease-in-out);

					//Place Holder Text
					@include placeholder {
						color: get-color(default);
						font-size: rem-calc(14px);
						font-weight: $font-weight--bold;
					}//end @include placeholder

					&:active, &:focus {
						width: 120px;
						padding-left: $spacing--xs/2;
						background-color: get-color(accent3);
						@include transition(.3s all ease-in-out);
						border: none;
						box-shadow: none;
					}//end &:focus, &:hover, &:active
				}//end &__input

				&__search {
					color: get-color(default);
					right: $spacing--xs/2;
				}//end &__search
			}//end .sl_form
		}//end &__search
	}//end .sl_usernav

	// MAIN MENU LARGE //
	.sl_nav {
		background-color: get-color(inverse);
		@include inner;
		position: static;
		padding: 0;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 227px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: $spacing--xs 0;

			img {
				max-height: 100px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(accent1);
						padding: $spacing--md + .25rem $spacing--sm;
						height: 131px;
						display: flex;
						align-items: center;
						@include transition (.2s all ease-in-out);
						font-size: 1.125rem;
						font-weight: $font-weight--bold;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(secondary);
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1.125rem;
							padding: $spacing--md $spacing--xs;
						}//end large only breakpoint
					}//end & > a

					//Mega menu hover class
					&.hover {
						& > a {
							background-color: get-color(accent3);
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(primary);

							&:after {
								border-color: get-color(primary) transparent transparent;
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: get-color(accent3);
								&:after {
							    	@include pseudo;
									width: 0; 
									height: 0;
									border-top: 0px;
									border-left: 10px solid transparent;  /* left arrow slant */
									border-right: 10px solid transparent; /* right arrow slant */
									border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
									font-size: 0;
									line-height: 0;
									top: auto;
									bottom: 0;
									right: calc(50% - 10px);
									z-index: 11;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							border: none;
							box-shadow: $shadow;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.25rem;
									font-family: $header-font-family;
									color: get-color(secondary);
									font-weight: $font-weight--medium;
									padding: $spacing--sm $spacing--md;
									line-height: 1.5rem;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
									}//end large only breakpoint

									&:hover {
										background: $gradient--primary;
										color: get-color(inverse);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&.is-active {
									& > a {
										background: $gradient--primary;
										color: get-color(inverse);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: rem-calc(10px) $spacing--xs $spacing--xs rem-calc(10px);
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 124px;
			z-index: 1;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 55px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}//end &__right

		&__menu {
			margin-top: $spacing--xs - rem-calc(10px);
		}//end &__menu
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js