//OFF-CANVAS MENU
#sl_offcanvas {
	&.sl_mobilemenu {
		@include container;
		border-radius: 0;
		padding: 0;
	}//end &.sl_mobilemenu
}//#sl_offcanvas

.sl_mobilemenu {
	.is-drilldown {
		.sl_menu {
			background-color: get-color(inverse);
			padding: 0;
			margin-bottom: 0;
			display: block;

			& > li {
				display: block;
				margin-bottom: 2px;

				& > a {
					color: get-color(primary);
					background-color: #f0f4f8;
					padding: $spacing--sm $spacing--xs;
					font-weight: $font-weight--semibold;
					font-size: 1.25rem;
					line-height: 1rem;
				}//end & > a

				&.is-drilldown-submenu-parent {
					& > a {
						&:after {
							@include fontawesome($content: '\f30b');
							font-weight: $font-weight--regular;
							width: auto;
							height: auto;
							border: none;
							right: $spacing--xs;
						}//end &:after
					}//end & > a
				}//end &.is-drilldown-parent
			}//end & > li
		}//end .sl_menu

		.js-drilldown-back {
			& > a {
				&:before {
					@include fontawesome($content: '\f30a');
					width: auto;
					height: auto;
					border: none;
				}//end &:after
			}//end & > a
		}//end &.js-drilldown-back
	}//end .is-drilldown

	&__usermenu {
		padding-top: $spacing--md;
		margin-bottom: $spacing--xs;
		.sl_menu {
			display: block;

			& > li {
				display: block;

				& > a {
					color: get-color(secondary);
					padding: $spacing--sm/2 0;
					font-size: 1.125rem;
					line-height: 1;
					font-weight: $font-weight--regular;
				}//end & a
			}//end & > li
		}//end .sl_menu
	}//end .sl_mobilemenu__usermenu

	&__search {
		position: relative;
		padding: $spacing--sm $spacing--xs;
		background-color: #3B3B45;;

		.sl_form {
			//Input
			.sl_form__input {
				height: 44px;
				border: 1px solid #9B9B9B;
				box-shadow: none;
			}//end &__input
		}//end .sl_form
	}//end &__search

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem-calc(10px) $spacing--xs $spacing--xs rem-calc(10px);
	}//end &__header

	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: 124px;
		height: 100%;

		img {
			max-height: 55px;
		}//end img
	}//end &__logo
	
	&__close {
		font-size: 1.25rem;
		color: get-color(primary);
	}//end &__close
}//end .sl_mobilemenu

//OFF CANVAS OVERLAY
.js-off-canvas-overlay {
	background: rgba(get-color(default), .25);
}