//Default Page Template
body.page-template-default, body.page-template-template-nosidebar, body.page-template-template-contact, body.page-template-template-staff {

	.sl_content {

		&--no-image {
			border-top: 1px solid rgba(#45454E, .35);
		}//end &.no-image
		
		&__header {
			min-height: 250px;
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;

			@include breakpoint (small down) {
				min-height: 125px;
			}//end small down breakpoint
		}//end &__header

		.sl_module__map {
			min-height: 250px;
			@include breakpoint (small down) {
				min-height: 125px;
			}//end small down breakpoint
		}//end .sl_module__map

		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xxl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
		}//end &__body

		&__main {
			padding-right: $spacing--xxxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
				padding-bottom: $spacing--lg;
			}//end medium down breakpoint
		}//end &__main

	}//end .sl_content
}//end body.page-template-default, body.page-template-template-nosidebar

