.sl_sidebar {

	&__container {
	}//end &__container

	&__card {
		background-color: get-color(accent2);
		padding: $spacing--md $spacing--sm;
		text-align: left;

		h3 {
			color: #3c475a;
			margin-top: 0;
		}//end h3

		.sl_button, a {
			text-align: left;
			margin-bottom: 0;

			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type
		}//end .sl_button

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		&:not(:last-of-type) {
			margin-bottom: $spacing--xs/2;
		}//end &:not(:last-of-type)
	}//end &__card
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search