/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Simple Button
6. Icon Buttons
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
12. Back to Top Button
13. Video Button
14. Alert Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(accent1);
	font-weight: $font-weight--bold;
	padding: $spacing--xs $spacing--lg;
	border-radius: $border-radius;
	font-size: 1.125rem;

	@include breakpoint (large only) {
		padding: $spacing--xs $spacing--md;
	}//end large only breakpoint

	@include breakpoint (medium down) {
		padding: $spacing--xs $spacing--sm;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		font-size: 1rem;
	}//end medium down breakpoint


	&:hover {
		@include transition (all .2s ease-in-out);
		backgorund-color: get-color(secondary)
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		font-size: rem-calc(12px);
		font-weight: $font-weight--bold;
		color: #003769;
		text-transform: uppercase;
		display: flex;
		flex-direction: row;
		align-items: center;

		&:before {
			@include fontawesome($content: '\f0c9');
			margin-right: $spacing--xs/2;
			font-size: 1rem;
		}//end &:after
	}//end &--menu

//6. Simple Button
	&--simple {
		color: get-color(accent1);
		background: none;
		border-radius: 0;
		padding: 0;
		line-height: 1.5;
		text-align: left;

		&:after {
			@include fontawesome($content: '\f30b', $weight: 400);
			margin-left: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--simple

//7. Icon Buttons
	&--phone-icon{
		color: get-color(accent1);
		background: none;
		border-radius: 0;
		padding: 0;

		&:before {
			@include fontawesome($content: '\f879');
			margin-right: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--phone-icon

	&--email-icon{
		color: get-color(accent1);
		background: none;
		border-radius: 0;
		padding: 0;

		&:before {
			@include fontawesome($content: '\f0e0');
			margin-right: $spacing--xs/2;
			display: inline-block;
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(secondary);
			text-decoration: underline !important;
		}//end &:hover
	}//end &--phone-icon

//8. Pagination Button
	&--pagination {

	}//end &--pagination

//9. Social Buttons
	&--social {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		color: #DADADC;
		font-size: 2rem;
		background-color: transparent;

		&:hover, &:focus {
			background-color: transparent;
		}//end &:hover, &:focus

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		// &.sl_facebook {background-color: #3B5998;}
		// &.sl_twitter {background-color: #1DA1F2;};
		// &.sl_youtube {background-color: #FF0000;};
		// &.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//10. Share Button
	&--share {
		
	}//end .sl_button--share

//11. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//12. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop

//13. Video Button
	&--video {
			background-color: get-color(inverse);
			border-radius: 50%;
			z-index: 1;
			height: 83px;
			width: 83px;
			position: relative;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before
	}//end &--video

	//14. Alert Button
	&--alert {
		background: none;
		border: 2px solid get-color(inverse);
		border-radius: $border-radius;
		font-family: $header-font-family;
		font-size: 1.125rem !important;
		padding: rem-calc(11px) $spacing--sm;
		margin-bottom: 0;
		box-shadow: none;

		&:hover, &:focus {
			background-color: get-color(inverse);
			color: get-color(accent1);
		}//end &:hover
	}//end &--alert
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
