.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide &, .sl_card--news & {
			min-height: 200px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide &, .sl_card--news & {
			padding: 2.5rem;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);
	}//end &--deck, &--slide

	&--duo {
		background-color: get-color(accent2);
		padding: $spacing--lg;

		@include breakpoint (medium down) {
			padding: $spacing--md $spacing--sm;
		}//end medium down breakpoint
	}//end &--duo

	&--staff {
		padding: 0;
		background: get-color(inverse);
		color: get-color(default);
		border-radius: $border-radius;
		overflow: hidden;
		height: 100%;

		.sl_staff__image {
			width: 100%;
			height: auto;
		}//end .sl_staff__image

		.sl_card__content {
			padding: $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--xs;
			}//end medium only breakpoint

			p {
				margin-bottom: $spacing--xs/2;
			}//end p

			h3 {
				margin-bottom: $spacing--xs/2;

				@include breakpoint (large only) {
					font-size: 1.375rem;
				}//end large only breakpoint
			}//end h3

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end .sl_card__content
	}//end &--staff

	&--location {
		padding: $spacing--xxl $spacing--xl $spacing--xxl 0;

		@include breakpoint (medium only) {
			padding: $spacing--lg $spacing--md $spacing--lg 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
			padding-bottom: $spacing--md;
		}//end small down breakpoint
	}//end &--location

	&--map {
		padding: 0;
	}//end &--map

	&--results {
		background-color: get-color(accent2);
	}//end &--results

	&--news {
		padding: 0;
		height: 100%;
		background-color: get-color(accent2);

		h3 {
			margin-bottom: 0;
		}//end h3

		.sl_card__date {
			font-size: rem-calc(14px);
		}//end .sl_card__date

		.sl_card__content {
			display: flex;
			flex-direction: column;
		}//end .sl_card__content

		.sl_button--simple {
			font-size: rem-calc(14px);
			text-transform: uppercase;
			align-self: flex-end;
		}//end .sl_button
	}//end &--news

	&--article {
		padding: 0;

		.sl_card__date {
			text-transform: uppercase;
			font-size: rem-calc(14px);
			margin-bottom: 0;
		}//end .sl_card__date

		.sl_card__title {
			margin-top: 0;
		}//end .sl_card__title

		.sl_card__preview {
			color: get-color(default)
		}//end .sl_card__preview

		&:hover {
			text-decoration: underline;
			color: get-color(accent1);

			.sl_card__preview {
				color: get-color(accent1);
			}
		}//end &:hover
	}//end &--article
}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
